{% extends 'base.html' %}

{% block contentido %}
    <div>
    <h1>Titulo</h1>
    </div>

{% endblock contentido %}


{% block jumbotron %}
    <div>
    <h1>jumbotron</h1>
    </div>

{% endblock jumbotron %}